 @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*  */
}
html{
    font-size: 62.5%;
}



html,
body {
    line-height: 1.4;
    font-weight: 300;
    font-family: "Inter", sans-serif;
    line-height: 1.4;
    scroll-behavior: smooth;
    color: white;
    

}
body{
    /* font-size: 1.4rem; */
}

header{
    background-color: rgb(8, 44, 63);
}
nav{
    
    display: flex;
    justify-content: space-between;
    
   
    max-width: 1300px;
    margin: 0 auto;
    padding: 1rem;

}
nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;

   

}
nav li{
    font-size: 2.4rem;
    color: white;
     border-bottom: 0.4rem solid transparent;
    
    transition: ease-in-out 0.2s;
    
}
nav li:hover{
    border-bottom: 0.4rem solid #f3f633;
    
    transition: ease-in-out 0.2s;

}

a{
    text-decoration: none;
}
.heading{
    font-size: 2rem;
    font-weight: 700;
}

#hero{
    background-color: rgb(19, 71, 111);
    border-bottom: 4px solid rgb(18, 34, 85);
    
    
}

.container{
     max-width: 1300px;
    margin: 0 auto;
    padding: 1rem;
    

    display: flex;
    align-items: center;
    justify-content: space-around;
}
.hero_container h1{
    
    font-size: 3rem;
    font-weight: bold;

}
.hero_container{
    display: grid;
    place-content: center;
    

}
.hi{
    font-size: 6rem;
    font-weight: bold;
    color: yellow;
}
.name_text{
    font-size: 5rem;
    font-weight: bold;
}
#hero h2{
    text-align: center;
    font-size: 5.2rem;
    font-weight: bold;
    border-right: 0.15em solid orangered;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
    margin: 0 auto;


}

@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

@keyframes blink-caret{
    from,
    to{
        border-color: transparent;
    }
    50%{
        border-color: orange;
    }
}

/* project sevtion */
#project{
    background-color: #0d4a64;
    
}
#project h2{
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 2rem 0;
}
.project_container{
    display: grid;
    
    
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
    
}
.grid-item{
    display: grid;
    place-items: center;
}
.card{
    width: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: 0.8s ease-in-out;
    
}

.card:hover{
    transform: scale(1.05);
    
    transition: 1s ease-in-out;
}

.card:hover img{
    transform: scale(1.07);
    transition: 0.3s ease-in-out;
    opacity: 0.8;
}
.card-content{
    position: relative;
    padding: 2rem;
   
    font-size: 2rem;
     text-align: center;
    color: black;
    /* background-color: white;
    transition: 2s ease-in-out;
     */

     top: -6rem;
     margin-bottom: -6rem;
     transition: 0.5s ease-in-out;
     
     transform: translateY(100px);
     
}

.card:hover .card-content{
    background: rgb(243, 248, 248);
    transform: translateY(0px)
}


#contact{
    background-color: rgb(15, 60, 103);
   
}
.container2{

    display: flex;
   
    flex-direction: column;
  align-items: center;
    padding: 5rem;
   
   
}
.container2 h2{
    font-size: 6rem;
    margin: 2rem 0;
     

     
}
.icon{
    font-size: 3rem;
    gap: 8rem;
    padding: 5rem;
}
.top_contact{
    display: flex;
    gap: 3rem;
   
  

}
.another{
    display: flex;
    justify-content: center;
    gap: 9rem;
    padding: 2.9rem;


   
}
.likedin {
   display: flex;
   align-items: center;
   gap: 1rem;

}
footer{
    background-color: rgb(9, 43, 67);

}
footer p{
    text-align: center;
    padding: 4rem;
    font-size: 2.5rem;
    font-weight: bold;
}
   