 @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*  */
}
html{
    font-size: 62.5%;
}



html,
body {
    line-height: 1.4;
    font-weight: 300;
    font-family: "Inter", sans-serif;
    line-height: 1.4;
    scroll-behavior: smooth;
    color: white;
    

}
body{
    /* font-size: 1.4rem; */
}

header{
    background-color: rgb(11, 124, 184);
}
nav{
    
    display: flex;
    justify-content: space-between;
    
   
    max-width: 1300px;
    margin: 0 auto;
    padding: 1rem;

}
nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;

   

}
nav li{
    font-size: 2.4rem;
    color: white;
     border-bottom: 0.4rem solid transparent;
    
    transition: ease-in-out 0.2s;
    
}
nav li:hover{
    border-bottom: 0.4rem solid #f3f633;
    
    transition: ease-in-out 0.2s;

}

a{
    text-decoration: none;
}
.heading{
    font-size: 2rem;
    font-weight: 700;
}

#hero{
    background-color: rgb(6, 78, 116);;
    
    
}

.container{
     max-width: 1300px;
    margin: 0 auto;
    padding: 1rem;
    
}
 .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero_container .hi{
    color: yellow;
    font-size: 5rem;

}