.text-center{
    text-align: center;
    font-weight: 300;
}
.bg-red{
    background: red;
}
.mx-auto{
    margin: auto;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;

}
.flex-col{
    flex-direction: column;
}
.p-r-l{
        padding: 20px 17px;
}
.p-r{
        padding: 19px 21px;
}
.m-r{
       margin: 0 4px;
}
.p{
    padding: 19px 18px;
}