/* *{
    margin: 0;
    padding: 0;
} */

#clockContainer {
    margin: auto;
    border: 2px solid red;
    width: 40vw;
    height: 40vw;
    background: url(clock.png)no-repeat;
    background-size: 100%;
    position: relative;

}

#hour,
#minute,
#second {
    position: absolute;
    background: black;
    border-radius: 10px;

}

#hour {

    /* display: none; */
    width: 2%;
    height: 25%;
    top: 25%;
    left: 48.8%;
    opacity: 0.8;

    background: rgba(0, 17, 255, 0.491);
    border: 0.3px solid black;
    transform-origin: bottom;
}

#minute {
    background: rgba(255, 0, 0, 0.345);
    border: 0.3px solid black;
    /* display: none; */
    width: 2%;
    height: 30%;
    top: 19%;
    left: 48.0%;
    opacity: 0.8;
    transform-origin: bottom;
}

#second {

    /* display: none; */
    width: 1%;
    height: 40%;

    top: 9%;
    left: 49.5%;
    opacity: 0.8;
    transform-origin: bottom;
}